In [1]:
#import required libraries:
import pandas as pd

In [4]:
df = pd.read_csv(r'.\Data\Week7\cars.csv')
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [5]:
# X = independent values
# Y = dependent values
x = df[['Weight', 'Volume']]
y = df['CO2']

In [6]:
from sklearn import linear_model

In [7]:
regr = linear_model.LinearRegression()
regr.fit(x, y)

LinearRegression()

In [8]:
# Predict the CO2 emissions of a specific car
predictedC02 = regr.predict([[2300, 1300]])
print('Predicted level of C02:', predictedC02)

Predicted level of C02: [107.2087328]

In [9]:
print('Coefficients of Weight & Volume against C02', regr.coef_)

Coefficients of Weight & Volume against C02 [0.00755095 0.00780526]